{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Tasyo</title>
  <link rel="stylesheet" type="text/css" href="{% static 'audio/css/style.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="shortcut icon" href="Logo.jpg">
</head>
<body>
  <div class="navbar">
    <div class="logo"><a href="#"><img src="{% static 'audio/Logo.jpg' %}"></a></div>
    <div class="about"><a href="#">About Us</a></div>
    <div class="audio"><a href="#">Audio</a></div>
    <div class="social"><a href="#">Social Media Platforms</a></div>
    <div class="contact"><a href="#">Contact Us</a></div>
  </div>

  <div class="aboutus">
    <a class = "about" name="about"></a>
    <h1>Experience the good vibrations of Philippine Literature.</h1>
    <h2>TASYO is a student enterprise that aims to deliver quality audio narrations to short stories, novels, and<br>academic works of our home-grown Filipino authors.</h2>
    
  </div>

  <div class ="audiosection">
    <a class = "audio" name="audio"></a>
    {% for audio in all_audio %}
      <p>Title: {{ audio.name }}<br>
      By: {{ audio.author }}<br>
      Series: {{ audio.series }}<br>
      Genre: {{ audio.genre }}<br>
      Narrated by: {{ audio.narrated_by }}<br>
      Length: {{ audio.length }}<br>
      Release Date: {{ audio.release_date }}<br>
      Description: {{ audio.description }}<br>
      {{ audio.embedded }}</p>

      {% for host in audio.host_set.all %}
      <p> {{ host.link }} </p>
      {% endfor %}
    {% endfor %}


    
  </div>

  <div class = "socialmedia">
    <a class = "social" name = "social"></a>
    <h1>LIKE, SHARE, AND FOLLOW US</h1>
    <i class="fab fa-facebook"></i>
    <i class="fab fa-twitter-square"></i>
    <i class="fab fa-instagram"></i>


  </div>

  <footer>
    <div class = "contactus">
      <h3>CONTACT US</h3>
      <h4>EMAIL OR GIVE US A CALL</h4>
      {% for contact in audio.contact_set.all %}
      <p>{{ contact.service_name }}: {{ contact.account }}</p>
      {% endfor %}      
    </div>

    <div class = "donation">
      <h3>SUPPORT US WITH YOUR DONATION</h3>
      {% for option in audio.donate_option_set.all %}
      <p>{{ donate_option.option_name }}: {{ donate_option.account_details }}</p>
      {% endfor %}
    </div>

    <div class="partners">
      <h3>THANKS TO OUR PARTNERS</h3>
      {% for partner in audio.partner_set.all %}
      <p>{{ partner.partner_logo }}: {{ partner.partner_link }}</p>
      {% endfor %}

    <div class ="disclaimer">
      <h3>DISCLAIMER</h3>
      <p>TASYO is a start-up project funded and operated by undergraduates of the Ateneo de Manila University. The copyrighted works featured above have been authorized for commercial use by their respective authors and publishers. Copyright laws apply in all cases.</p>
      
    </div>

  </footer>

  
</body>
</html>